//SECTIONS 
.section-about,
.section-skills,
.section-timeline,
.section-portfolio,
.section-contactme,
.section-game {
    position: relative;
    height: $section-height;
    min-height: $min-section-height;
    overflow-x: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    /*
    @media only screen and (hover: none) {
        background-attachment: scroll;
    } 
    */
}

.section-about,
.section-skills,
.section-timeline,
.section-portfolio,
.section-contactme,
.section-game,
.footer {
    border-top: solid 2px $color-grey-dark-3;
}

//ABOUT ME
.section-about {
    height: 100%;
    padding: calc(#{$section-padding}*2) 0;
    background-color: $color-primary-dark;
    background-image: linear-gradient(to right top,
    rgba($color-primary-dark, 1),
    rgba($color-black, .75),
    rgba($color-primary-dark, .85),
    rgba($color-black, .75),
    rgba($color-primary-dark, .85),
    rgba($color-black, .75),
    rgba($color-primary-dark, .75),
    rgba($color-black, .75),
    rgba($color-primary-dark, 1)), url('../img/portrait-flip.jpg');

    @include respond(phone) {
        padding: $section-padding 0;
    }
}

//SKILLS
.section-skills {
    height: auto;
    padding: $section-padding 0;
    background-color: $color-primary;
    background-image: linear-gradient(30deg,
    rgba($color-grey-light-3, .5),
    rgba($color-primary-light, .95),
    rgba($color-primary, .98),
    rgba($color-primary-dark,
    1),
    $color-black),
    url('../img/arcdetriomphe-small.jpg');
    /*resolution of apple retina screen = 192dpi (dots per inch) [high res screen for reference]*/
    /* 600px/16px = 37.5em & 2000px/16px = 125em*/
    /*min-device-pixel-ratio:2 is for safari (2x pixels)*/
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(30deg,
        rgba($color-grey-light-3, .5),
        rgba($color-primary-light, .95),
        rgba($color-primary, .98),
        rgba($color-primary-dark,
        1),
        $color-black),
        url('../img/arcdetriomphe.jpg');
    }

    &__content {
        padding-top: $gutter-vertical;
    }
}

//PORTFOLIO
.section-portfolio {
    height: auto;
    padding: $section-padding 0;
    background-color: $color-secondary;
    background-image: linear-gradient(to bottom,
    rgba($color-secondary, 0.65),
    rgba($color-secondary-dark, 0.75),
    rgba($color-secondary-darker, 0.85),
    rgba($color-secondary-darkest, 0.9)), url('../img/hollywood-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to bottom,
        rgba($color-secondary, 0.65),
        rgba($color-secondary-dark, 0.75),
        rgba($color-secondary-darker, 0.85),
        rgba($color-secondary-darkest, 0.9)), url('../img/hollywood.jpg');
    }

    &__content {
        padding: 0 $section-padding $section-padding $section-padding;
        @include respond(phone) {
            padding: 0 0 $section-padding 0;
        }
    }
}

//TIMELINE
.section-timeline {
    height: auto;
    padding: $section-padding 0;
    background-color: $color-secondary-dark;
    background-image: linear-gradient(to right,
    rgba($circle-design-darkcolor, .5) 0%,
    rgba($circle-design-darkcolor, .75) 50%,
    rgba($circle-design-lightcolor, .5) 50%),
    url('../img/blacksandsbeach-small.jpg');

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right,
        rgba($circle-design-darkcolor, .5) 0%,
        rgba($circle-design-darkcolor, .75) 50%,
        rgba($circle-design-lightcolor, .5) 50%),
        url('../img/blacksandsbeach.jpg');
    }
}


//CONTACTME
.section-contactme {
    height: auto;
    padding: calc(#{$section-padding}*2) $section-padding;
    background-color: rgba($color-black, 0.75);
    background-color: $color-grey-light-3;
    background-image: linear-gradient(to bottom right,
    rgba($color-black, 0.7),
    rgba($color-black, 0.7),
    rgba($color-black, 0.7),
    rgba($color-black, 0.7)),
    url('../img/colombia-small.jpg');

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to bottom right,
        rgba($color-black, 0.7),
        rgba($color-black, 0.7),
        rgba($color-black, 0.7),
        rgba($color-black, 0.7)),
        url('../img/colombia.jpg');
    }
}


//GAME
.section-game {
    height: auto;
    padding: $section-padding 0;
    background-color: $color-primary;
    background-image: linear-gradient(to bottom,
    rgba($color-primary-light,
    .75),
    rgba($color-primary,
    .75),
    rgba($color-primary-dark,
    .75)),
    url('../img/colombia-rock-small.jpg');
    /*resolution of apple retina screen = 192dpi (dots per inch) [high res screen for reference]*/
    /* 600px/16px = 37.5em & 2000px/16px = 125em*/
    /*min-device-pixel-ratio:2 is for safari (2x pixels)*/
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to bottom,
        rgba($color-primary-light, .75),
        rgba($color-primary, .75),
        rgba($color-primary-dark, .75)),
        url('../img/colombia-rock.jpg');
    }

    &__content {
        padding-top: $padding-xxsmall;
    }
    &__results {}
}

//SECTIONS
.section-row {
    width: 100%;
    position: relative;
    padding: 0 5rem;

    @include respond(tab-land) {
        padding: 0 $padding-medium;
    }
    @include respond(tab-port) {
        padding: 0 $padding-medium;
    }

    &__heading {
        transform: translateY(300%);
        @include respond(tab-port) {
            transform: translateY(0%);
        }
        @include respond(phone) {
            transform: translateY(0%);
        }
        text-align: center;

        &::before,
        &::after {
            content: " ";
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            width: 35%;
            min-width: 10rem;
            height: 2.5rem;
            z-index: -1;
            background-color: rgba($color-black, 0.7);
            @include respond(tab-port) {
                width: 20%;
            }
        }

        &::before {
            left: 50%;
            transform: translate(-100%, -50%);
        }
        &::after {
            right: 50%;
            transform: translate(100%, -50%);
        }

    }
    &__contents {
        background: rgba($color-black, .5);
        padding: $padding-small $padding-medium;
        border-radius: $border-radius;
    }
}

.section-heading {
    display: inline-block;
    position: relative;
    margin: 0 0 $section-padding $section-padding;
    @include respond(phone) {
        margin: 0 0 $section-padding 0;
    }
    text-align: left;
    padding: 0 $section-padding;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 35%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: rgba($color-black, 0.6);
        z-index: -1;
    }
}
